# Base compose file
# Contains all that is common between production and development configurations.

services:
  # This can be accessed within the docker network with http://biab-script-server:8080/script/...
  script-server:
    container_name: biab-script-server
    volumes:
      - ${PIPELINE_REPO_PATH}/scripts:/scripts:ro
      - ${PIPELINE_REPO_PATH}/.git:/.git:ro
      - ./script-stubs:/script-stubs:ro
      - ${PIPELINE_REPO_PATH}/pipelines:/pipelines:rw
      - ${PIPELINE_REPO_PATH}/userdata:/userdata:ro
      - ${PIPELINE_REPO_PATH}/output:/output:rw
      - /var/run/docker.sock:/var/run/docker.sock
    expose:
      - "8080"
    user: ${MY_UID}:${DOCKER_GID} # docker group necessary to access docker.sock
    env_file:
      - ${PIPELINE_REPO_PATH}/runner.env
    environment:
      SCRIPT_LOCATION: /scripts
      SCRIPT_STUBS_LOCATION: /script-stubs
      USERDATA_LOCATION: /userdata
      PIPELINES_LOCATION: /pipelines
      OUTPUT_LOCATION: /output
      GIT_LOCATION: /.git
      PIPELINE_REPO_PATH: ${PIPELINE_REPO_PATH}
      USE_RUNNERS: true
      HPC_SSH_CONFIG_FILE: /run/secrets/hpc_ssh_config_file
      HPC_SSH_KEY: /run/secrets/hpc_ssh_key
      HPC_KNOWN_HOSTS_FILE: /run/secrets/hpc_known_hosts_file
    secrets:
      - hpc_ssh_key
      - hpc_known_hosts_file
      - hpc_ssh_config_file

  python-api: # Serves Titiler and a FastAPI app to serve country and region names and geometries
    container_name: biab-python-api
    volumes:
      - ${PIPELINE_REPO_PATH}/output:/output:ro
    user: ${MY_UID}:${DOCKER_GID}
    environment:
      PORT: 8000
      WORKERS_PER_CORE: 1
      TITILER_API_CORS_ORIGINS: "*"
    expose:
      - "8000"
      - "8001"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  runner-conda:
    container_name: biab-runner-conda
    volumes:
      - ${PIPELINE_REPO_PATH}/scripts:/scripts:ro
      - ./script-stubs:/script-stubs:ro
      - ${PIPELINE_REPO_PATH}/userdata:/userdata:ro
      - ${PIPELINE_REPO_PATH}/output:/output:rw
      - ${PIPELINE_REPO_PATH}/runner.env:/runner.env:ro
    user: ${MY_UID}:${DOCKER_GID}
    environment:
      PYTHONUNBUFFERED: 1
      SCRIPT_LOCATION: /scripts
      USERDATA_LOCATION: /userdata
      OUTPUT_LOCATION: /output

  runner-julia:
    container_name: biab-runner-julia
    volumes:
      - ${PIPELINE_REPO_PATH}/scripts:/scripts:ro
      - ./script-stubs:/script-stubs:ro
      - ${PIPELINE_REPO_PATH}/userdata:/userdata:ro
      - ${PIPELINE_REPO_PATH}/output:/output:rw
      - ${PIPELINE_REPO_PATH}/runner.env:/runner.env:ro
    user: ${MY_UID}:${DOCKER_GID}
    environment:
      SCRIPT_LOCATION: /scripts
      USERDATA_LOCATION: /userdata
      OUTPUT_LOCATION: /output

  gateway:
    container_name: biab-gateway
    ports:
      - "${HTTP_ADDRESS:-127.0.0.1}:${HTTP_PORT:-80}:80"
    volumes:
      - ${GATEWAY_CONFIG}:/etc/nginx/conf.d:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ${PIPELINE_REPO_PATH}/output:/static/output:ro
      - ${PIPELINE_REPO_PATH}/userdata:/static/userdata:ro
    depends_on:
      - script-server
      - python-api

secrets:
  hpc_ssh_key:
    file: $HPC_SSH_KEY
  hpc_known_hosts_file:
    file: $HPC_KNOWN_HOSTS_FILE
  hpc_ssh_config_file:
    file: $HPC_SSH_CONFIG_FILE