body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Montserrat",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --biab-green-main: #1d7368;
  --biab-green-light: #60dfc0;
  --biab-green-trans-main: #1d736888;
  --biab-purple-main: #3d1b40;
  --biab-blue-main: #28457a;
  --biab-blue-light: #647ca8;
  --biab-orange-main: #b7672e;
  --biab-yellow-main: #b7872e;
  --biab-yellow-light: #fdd58c;
}
