.file-manager {
    margin-top: 24px;
}

.wx-willow-dark-theme {
    --wx-fm-background: var(--dark-blue);
    --wx-background: var(--dark-green-25);
    --wx-color-primary: var(--dark-green);
    --wx-font-family: "Montserrat", sans-serif;
}

.wx-text.wx-lUZMtgT1 {
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-blue);
    border-radius: 12px;
}

wx-content-wrapper.wx-RJbNonjJ {
    min-height: 50vh;
}