.left-pane {
    resize: horizontal;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside.stepChooser {
    padding: 15px 10px;
    flex: 1;
    max-width: 400px;
    width: 20vw;
}

aside.stepChooser .description {
    margin-bottom: 10px;
}

.dndnode {
    min-height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background: #fcfcfc;
    font-size: 14px;
    text-align: center;
    margin:10px auto 10px 0px;
    max-width: 390px;
    width: 19vw;
    box-shadow: 2px 2px 2px #bbb;
}

.dndnode.input {
    border-color: #0041d0;
}

.dndnode.output {
    border-color: #ff0072;
}

.dnd-head {
    color: var(--biab-green-main);
    font-weight: 600;
}


.inFolder {
    padding-left: 1em;
}

.inFolder .dndnode{
    padding-left: 1em;
    max-width: 350px;
    width: 15vw;
}

.stepChooser .selected {
    background-color: blanchedalmond;
}

.stepChooser h3 {
    border-bottom: 1px solid #1a192b;
}